body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #faebd7;
    margin: 0;
    padding: 0;
}

.container {
    width: 400px;
    /* height: 700px; */
    margin: 50px auto;
    background-color: #f5e4cf;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
}

input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #bbb;
    border-radius: 3px;
}

button {
    padding: 10px;
    background-color: #52a824;
    color: #FFF;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 18px;
    text-transform: uppercase;
}

button:hover {
    background-color: #5ebd2a;
}

.result {
    margin-top: 30px;
    border-top: 1px solid #BBB;
    padding: 20px;
}

.result p {
    margin-bottom: 15px;
}

.result span {
    font-weight: bold;
}