body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: azure;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #d9f4f4;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-top: 0;
    text-align: center;
    color: #444;
}

input[type="text"] {
    padding: 7px;
    font-size: 16px;
    border: 1px solid #EEE;
    border-radius: 4px solid #AAA;
    width: 80%;
    margin-right: 10px;
}

button {
    padding: 8px 20px;
    background-color: #25a7be;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #389f9f;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

li {
    padding: 10px;
    background-color: #ace5ef;
    margin-bottom: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li:last-child {
    margin-bottom: 0px;
}

.deleteButton {
    background-color: #fd4a4a;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3.5px;
    cursor: pointer;
}

.deleteButton:hover {
    background-color: #F00;
}